$txtcolor: #000;
$bgcolor: #fff;
$titlecolor: #353535;


html, body {
	color: $txtcolor;
	background-color: $bgcolor;
	margin: 0;
	padding: 0;
}

main, .header-container {
	display: block;
	margin: 0 auto;
	max-width: 800px;
	width: 80%;
	position: relative;
}

.header-container {
	&>a {
		font-size: x-large;
		font-weight: bold;
	}

	.header-menu {
		font-size: medium;
		float: right;
		position: absolute;
		top: 30%;
		right: 0;

		a {
			margin: 5px;
		}
	}
}

.header {
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
	a {
		color: $txtcolor;
	}
}

.catalogue-time {
	color: #aaa;
}
.catalogue-title {
	color: $titlecolor;
	margin: .5rem 0;
}
.catalogue-line {
	transition: .3s ease-out;
	border-top: .2rem solid $titlecolor;
	width: 2rem;
}
.catalogue-item {
	display: block;
	color: $txtcolor;
	padding: 2rem 0;
	border-bottom: 1px solid #e5e5e5;

	&:hover {
		text-decoration: none; // no underline as other links

		.catalogue-line {
			width: 5rem; // extend line if any part of item is hovered
		}
	}
}

.publication {
	padding: 2rem 0;
	border-bottom: 1px solid #e5e5e5;
}

a {
	color: #4a9ae1;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

article>header {
	text-align: center;

	&>h1 {
		color: $titlecolor;
		font-size: 3rem;
		margin: 1rem;
	}
}
.post-line {
	border-top: .2rem solid $titlecolor;
	width: 4rem;
	margin: 0 auto 3rem;
}

article p, .catalogue-item p { // paragraphs in posts and summary paragraph on index site
	text-align: justify;
}

pre, code {
	font-family: monospace;
}
.highlight {
	position: relative; // so that position absolute works for language name

	&>pre { // code highlighting in box
		padding: .25em;
		border-radius: 5px;
		margin: 0;
		//background-color: #000 !important;

		&>code {
			background-color: transparent;
			color: inherit;
			padding: 0;

			&::before{
				content: attr(data-lang); // language name
				position: absolute; // at top-right corner of code box
				top: 1px;
				right: 1px;
				font-size: 10px;
				color: #aaa;
				padding: 2px 6px; // small box around in
				background-color: #444;
			}
		}
	}
}

.term>div {
	padding: .25em;
	border-radius: 5px;
	overflow: auto;
	white-space: nowrap;
}

pre { // without code highlighting
	background-color: #272822;
	padding: .25em;
	border-radius: 5px;
	overflow: auto;

	code {
		background-color: transparent;
		color: #f8f8f2;
		padding: 0;
	}
}

code { // inline code highlighting
	background-color: #f9f9f9;
	color: #e52633;
	padding: .25em .5em;
}

.pagination {
	position: relative;
	text-align: center;
	border-top: 2px solid #aaa;
	padding: 1rem 0;

	.arrow {
		position: absolute;
	}
	.left {
		left: 0;
	}
	.right {
		right: 0;
	}
}

img {
	// center image horizontally
	display: block;
	margin-left: auto;
	margin-right: auto;
	// rounded corners
	border-radius: 15px;
}

svg {
	display: block;
	margin: auto;
}
