{{ define "main" }}

<main>
	<article>
		<header>
        	<time datetime="{{ .PublishDate }}" class="catalogue-time">{{ .PublishDate.Format "2006-01-02" }}</time>
			<h1>{{ .Title }}</h1>
			<div class="post-line"></div>
		</header>
		<aside>
			<details>
				<summary>Contents</summary>
				{{- .TableOfContents }}
			</details>
		</aside>
		{{ .Content }}
	</article>

	<div class="pagination">
		{{- if .PrevInSection }}
		<a href="{{ .PrevInSection.URL }}" class="left arrow">&#8592; previous</a>
		{{- end }}
		<a href="#" class="top">Top</a>
		{{- if .NextInSection }}
		<a href="{{ .NextInSection.URL }}" class="right arrow">next &#8594;</a>
		{{- end }}
	</div>
</main>

{{ end }}
