{{ define "main" }}

<main>
	<article>
		<header>
			<h1>{{ .Title }}</h1>
		</header>

		{{ .Content }}

		<hr/>
		<div>
		{{- range sort $.Site.Data.publications "index" "desc" }}
			{{- $bibauthors := delimit .authors " and " }}
			{{- $bibtex := printf "@inproceedings{Tetzel-%d, author = { %s }, title = {{%s}}, year = %[1]d, doi = {%s} }" .year $bibauthors .title .doi }}
			<div class="publication">
				<h1>{{ .title }}</h1>
				<p>{{ delimit .authors ", " }}</p>
				<p>{{ .abstract }}</p>
				<p>
					{{ .conference }} {{ .year }},
					DOI: <a href="https://doi.org/{{ .doi }}">[{{ .doi }}]</a>,
					<a href="data:application/x-bibtex,{{ $bibtex }}" download="Tetzel-{{ .year }}.bib">[BibTeX]</a>
				</p>
			</div>
		{{- end }}
		</div>
	</article>
</main>

{{ end }}
